.mainFooter {
    display: flex;
    background-color: var(--primary);
    padding: 0 var(--gutter);

    @media (max-width: 768px) {
        padding: 0 var(--gutter)
    }
    height: var(--headerHeight);
    justify-content: space-between;
}

.copyrightContainer {
    display: grid;
    align-items: end;
    padding-bottom: var(--padding);
}

.contactContainer {
    display: grid;
    align-items: center;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

.footerText {
    font-size: var(--bodyRegular);
    font-family: Verdana, Helvetica, sans-serif;
    color: var(--white);
    text-align: center;
}