:root {
    --primary: #003366;
    --secondary: #BB8903;
    --accent: #803300;
    --white: #FFFFFF;
    --light: #F5F5F5;
    --dark: #007186;
    --gray: #707070;
    --alertRed: #EE4B2B;

    --mobileGutter: 16px;
    --gutter: 70px;
    --gutterLarge: 320px;
    --headerHeight: 80px;
    --breakpointMobile: 540px;
    --breakpointTablet: 768px;
    --breakpointSmallDesktop: 1024px;
    --breakpointStandardDesktop: 1440px;
    --breakpointLargeDesktop: 1920px;
    --linkTextSize: 18px;
    --linkFont: Verdana, Helvetica, sans-serif;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    color: var(--gray);
    background-color: var(--light);
    font-family: Roboto, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
