.projectsSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--projectsSpacing);
    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.projectImage {
    width: 100%;
    height: auto;
}